@charset "utf-8";


[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* html .page-wrapper {
    height: 100%;
}
.page-buffer {
    padding-bottom: 80px;
    height:auto;
    min-height:650px;
}

body{
    width: 100%;
    background-image: url('../img/bg2.jpg');
    background-size: cover;
    background-color: #2c3338;
    background-repeat:space;
    background-attachment:fixed;
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;


}
.header {
    width:100%;
    height: 80px;
    margin-left: 0;
    margin-top: -40px;
    background-color: black;
    padding-top: 10px;
    opacity: 0.6;
}


.footer {
    text-align: right;
    margin-top: 20px;
    padding-top: 2px;
    margin-bottom: 0px;
    text-indent: 20px;
    position: inherit;
    margin-left: 0;
    width: 100%;
    font-size: 16px;
    height: 60px;
    background-color: black;
    color: white;
    opacity: 0.6;

}


h4 {
    color: red;
    margin-top: 10px;
    margin-bottom: -10px;

}

.title {
    color: white;
    margin-left: 20px;
    margin-top: 40px;
    font-family: Georgia;
    font-size: 38px;
    font-weight: bold;

}

#menu {
    float:left;
}

h1 { 
    margin: 0; 
    color:white;
    z-index: 7;
    position: relative;
    opacity: 0.7;

}

#head {
    margin: 0; 
    font-size: 36px;
    color:white;
    font-family: Georgia;
    position: relative;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover { color: #1dabb8; }

input {
    border: none;
    font-family: Georgia;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

after { clear: both; }

#login {
    margin: 0;
    width: 320px;
    margin-top:70px;
    left:0px;
    z-index: 5;
    position: relative;

}
#cars {
    margin: 0;
    width: 720px;
    margin-top:70px;
    left:0px;
    z-index: 5;
    position: relative;

}


#login form {
    margin-top:10px;
    margin-left: 0;
    padding: 22px 22px 22px 22px;
    width: 100%;
    border-radius: 5px;
    background: #282e33;
    opacity: 0.7;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}

#login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    border-right: 3px solid #434a52;
    color: white;
    float: left;
    line-height: 35px;
    text-align: center;
    width: 50px;
    height: 35px;
}

#login form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: white;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 235px;
    height: 35px;
}

#login form input[type="password"], input[type="email"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: white;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 235px;
    height: 35px;
}
#login form input[type="email"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: white;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 235px;
    height: 35px;
}

#login form input[type="submit"] {
    background: #b5cd60;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
#login form input[type="submit"]:hover {
    background: black;
}

#login form.menu input[type="submit"]:hover {
    background-color: black;
}

#login form.lang input[type="submit"] {
    background: #b5cd60;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
#login form.lang input[type="submit"]:hover {
    background: black;
}
.title {
    color: white;
    margin-left: 20px;
    font-family: Georgia;
    font-size: 38px;
    font-weight: bold;

}
#login form.menu input[type="submit"] {
    background: #b5cd60;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
#login form.menu input[type="submit"]:hover {
    background: black;
}

#login form.menu {

    margin-left: 0;
    padding: 2px 2px 2px 2px;
    width: 100%;
    border-radius: 5px;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}
#login form.menu:hover {
    opacity: 1;
    margin-left: 0;
    padding: 2px 2px 2px 2px;
    width: 100%;
    border-radius: 5px;
    background: #282e33;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}

#page-content {
    margin-left: 400px;
    margin-top: 100px;
    width: 800px;
    height:auto;
    min-height: 270px;

}

.cartable table tr {
    border-bottom-width: 2px;
    border-bottom-color: white;
    padding-bottom: 20px;
    border-bottom-style: dotted;
}

.cartable {
    color:white;
    margin-top: 10px;

}

#login form.order input[type="submit"] {
    background: #b5cd60;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

form.change input[type="submit"] {
        border: 0;

    height: auto;
    border-color: black;
    color: black;
    border-bottom-width: 1px;
    border-style: solid;
}
form.change input[type="submit"]:hover {
    border: 0;
    height: auto;
    border-color: darkgreen;
    color: darkgreen;
    border-bottom-width: 1px;
    border-style: solid;
}

#login form.order input[type="submit"]:hover {
    background: black;
}

#login form.order {

    margin-left: 0;
    padding: 2px 2px 2px 2px;
    width: 100%;
    border-radius: 5px;
    background: #282e33;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
    display : inline-block;
    text-align: center;

}

#usertable
{
    margin-top: 20px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:700px;
    color:black;
    background-color: white;
    opacity: 0.84;
    border-collapse:collapse;
}

#usertable td.heading 
{
    font-size:1em;
    background-color: #A7C942;
    border:1px solid black;
    padding:3px 7px 2px 7px;
}
#usertable td, #usertable th 
{
    font-size:1em;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}
#usertable th 
{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
    opacity:0.6;
}


.container {
    max-width:400px;
    width:100%;
    margin:0 auto;
    position:relative;
}


#welcome_msg {
    color:white;
    margin-top: -20px;
    min-height: 300px;
    height:auto;
    padding-bottom: 40px;
    width:500px;
}
#welcome_msg h2{
    margin-bottom: -50px;
    padding-bottom: 0px;
}

#adminT {
    color:white;
    margin-top: -20px;
    font-size: 32px;
    font-family: Georgia;
}

form input[type="submit"] {
    margin-top: 5px;
    background-color: transparent;
    backface-visibility:hidden;
    color: white;
    border-bottom:1px solid white;

}

form input[type="submit"]:hover {
    border-bottom:1px solid black;
    color:black; 
}
h7 {
    color:red;
    font-weight: 700;
}
.titling {
    color: white;
}

ul {
    font: 14px Verdana, Geneva, sans-serif;
    text-align: center;
}

ul li {
    display : inline-block;
    width : 250px;
    height: 120px;
    margin-bottom: 100px;
    vertical-align: top;
    text-align: center;
    line-height: normal;

    /* эмуляция inline-block для IE6-7*/
    //display : inline;
    //zoom : 1;
}

#cars form {
    margin-left: 0;
    padding: 2px 2px 2px 2px;
    width: 100%;
    border-radius: 5px;
    background: #282e33;
    opacity: 0.7;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}
#cars form:hover {
    margin-left: 0;
    padding: 2px 2px 2px 2px;
    width: 100%;
    border-radius: 5px;
    background: #282e33;
    opacity: 1;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}


#cars form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    border-right: 3px solid #434a52;
    color: white;
    // display: block;
    float: left;
    line-height: 35px;
    text-align: center;
    width: 50px;
    height: 35px;
}

#cars form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: white;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 235px;
    height: 35px;
}

#login form input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: white;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 235px;
    height: 35px;
}

#cars form input[type="submit"] {
    background: #b5cd60;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
#cars form input[type="submit"]:hover {
    background: black;
}
#cars {
    margin: 0;
    width: 800px;
    margin-top:70px;
    left:0px;
    z-index: 5;
    position: relative;

}

h2 {
    color:white;
    width: 700px;
    margin-top: -25px;
}

#page-content p {
    margin-top: 20px;
    text-align: justify;

}

.alert {
    color: red;
    font-size: 14px;
    margin-top: -20px;
}

.alerts {
    color: red;
    font-size: 14px;
}

.msg {
    color: white;
    font-size:14px;
}



.notice {
    color:black;
    font-size: 14px;
}
.notice a {
    color:white;
    font-size: 14px;
}
.notice a:hover {
    color:black;
}

.warnings {
    color:#cc0033;
    font-size: 14px;
    line-height: 14px;
    padding-top: 10px;
    margin-left: 0px;
}
.warning {
    color:black;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 10px;
}

.carchange input[type="submit"]{
    color:black;
    border-bottom: black 1px solid;
}
.carchange input[type="submit"]:hover{
    color: #98bf21;
    border-bottom: #98bf21 1px solid;
}

form input[type="email"] {
    background-color: white;
    color:black;
}

form.tag {

}
form.tag input[type="submit"] {
    color:white;
    font-size: 20px;
    text-align: center;
    line-height: 10px;
    background-color: black;
    opacity: 0.5;
}
form.tag input[type="submit"]:hover {
    color:#98bf21;
}
.fontawesome-user:before{
    content:"\f007";
    
}
.fontawesome-lock:before{
    content:"\f023";
}

.infotag {
    margin-left:80%;
    color:black;
    border-width: 2px;
  //  border-color: black;
  //  border-style: solid;
    width: auto;
    padding: 2px;
    text-align:center;
    background-color:#ffffff;
    opacity: 0.4;
    margin-bottom: -80px;
    border-radius: 5px;
    
}

.selection {
    background-color: black;
    opacity: 0.5;
    padding: 2px;
    border-radius: 3px;
}