<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CarRentServlet</servlet-name>
        <servlet-class>by.skakun.carrentalsystem.controller.CarRentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarRentServlet</servlet-name>
        <url-pattern>/carrent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>title</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <filter>
        <filter-name>characterencodingfilter</filter-name>
        <filter-class>by.skakun.carrentalsystem.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>characterencodingfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>servletsecurityfilter</filter-name>
        <filter-class>by.skakun.carrentalsystem.filter.ServletSecurityFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>servletsecurityfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    
  
    
    <filter>
        <filter-name>pageredirectsecurityfilter</filter-name>
        <filter-class>by.skakun.carrentalsystem.filter.PageRedirectSecurityFilter</filter-class>
        <init-param>
            <param-name>INDEX_PATH</param-name>
            <param-value>/index.jsp</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>pageredirectsecurityfilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    

    
    
    <listener>
        <listener-class>by.skakun.carrentalsystem.listener.ContextListener</listener-class>
    </listener>
</web-app>
